.container {
  display: flex;
  height: 100vh;
}

.logo {
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding-left: var(--spacing-6);
}

.logo>svg {
  color: var(--color-dark-foreground);
  background: var(--color-dark-background);
  border-radius: var(--radius-md);
  padding: var(--spacing-1)
}

.section {
  font-size: var(--font-size-xs);
  color: var(--color-muted-foreground);
  padding-left: var(--spacing-4);
}


/* SIDEBAR */
.sidebar {
  width: var(--sidebar-width);
  background: var(--color-primary-foreground);
  color: var(--color-primary);
  transition: width var(--transition-time) var(--transition-type);
  overflow: hidden;
  border: 1px solid var(--color-border);
  display: flex;
  flex-direction: column;
}

.sidebar .navs {
  list-style: none;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.sidebar .nav {
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
  cursor: pointer;
  color: var(--color-muted-foreground);
  padding: var(--spacing-2);
  border-radius: var(--radius-md);
  transition: all var(--transition-time) var(--transition-type);
}

.sidebar .nav:hover {
  background: var(--color-muted);
  color: var(--color-primary);
}

.sidebar .nav>svg {
  color: inherit;
}

.sidebar .nav__text {
  color: inherit;
  font-size: 0.9rem;
}

/* COLLAPSED STATE */
.sidebar.collapsed {
  width: var(--sidebar-collapsed-width);
}

/* MAIN CONTENT */
.main-content {
  flex: 1;
  background: var(--color-background);
  position: relative;
  transition: margin-left var(--transition-time) var(--transition-type);
}

.main-content__main {
  padding: var(--spacing-4);
}


/* ICON-ONLY LINKS when collapsed */
.sidebar.collapsed a {
  text-align: center;
}

.sidebar.collapsed li {
  padding: 0.5rem 0;
}

/* (Optional) hide link text on collapse */
.sidebar.collapsed a::before {
  content: attr(data-icon);
  display: inline-block;
}

.sidebar.collapsed a span {
  display: none;
}
