.ah-button {
  color: var(--color-secondary-foreground);
  background: var(--color-secondary);
  border-radius: var(--radius-md);
  border: 1px solid var(--color-border);
  font-weight: bold;
  cursor: pointer;
}

.ah-button--small {
  padding: var(--spacing-1) var(--spacing-3);
}

.ah-button--medium {
  padding: var(--spacing-2) var(--spacing-4);
}

.ah-button--large {
  padding: var(--spacing-3) var(--spacing-6);
}
