$theme-colors: (
  "primary": "#18181B",
  "primary-foreground": "#FAFAFA",
  "secondary": "#FFFFFF",
  "secondary-foreground": "#09090B",
  "secondary-hover": "#F4F4F5",
  "background": "#FFFFFF",
  "foreground": "#0A0A0A",
  "muted": "#F1F5F9",
  "muted-foreground": "#64748B",
  "danger": "#EF4444",
  "danger-foreground": "#F5FAFF",
  "border": "#E2E8F0",
  "dark-background": "#0A0A0A",
  "dark-foreground": "#F5FAFF",
  "dark-primary": "#F5FAFF",
  "dark-primary-foreground": "#1C1C1E",
  "dark-secondary": "#1E293B",
  "dark-secondary-foreground": "#F5FAFF",
  "dark-muted": "#1E293B",
  "dark-muted-foreground": "#94A3B8",
  "dark-danger": "#7F1D1D",
  "dark-danger-foreground": "#F5FAFF",
  "dark-border": "#1E293B",
);

$border-radius: (
  "sm" : 0.125rem,
  "md" : 0.375rem,
  "lg" : 0.5rem,
  "full" : 9999px,
);

$spacing: (
  "1": 0.25rem,
  "2": 0.5rem,
  "3": 0.75rem,
  "4": 1rem,
  "6": 1.5rem,
  "8": 2rem,
  "10": 2.5rem,
  "12": 3rem,
  "16": 4rem,
);

$transition: (
  "time": 0.3s,
  "type": "ease",
);

$font: (
  "size-xs": 0.75rem,
  "size-sm": 0.875rem,
  "size-base": 1rem,
  "size-lg": 1.125rem,
  "size-xl": 1.25rem,
  "size-2xl": 1.5rem,
  "size-3xl": 1.875rem,
  "weight-normal": 400,
  "weight-medium": 500,
  "weight-semibold": 600,
  "weight-bold": 700,
);

// // Chart colors
// $chart-blue: #0088FE;
// $chart-green: #00C49F;
// $chart-yellow: #FFBB28;
// $chart-orange: #FF8042;
// $chart-purple: #8884D8;
//
// // Status colors
// $status-green: #22C55E;
// $status-yellow: #FCD34D;
// $status-red: #EF4444;
// $status-blue: #3872E0;
//
//
//
//
// // Shadows (hex8 for alpha)
// $shadow-sm: 0 1px 2px 0 #0000000D;
// $shadow: 0 1px 3px 0 #00000019, 0 1px 2px 0 #0000000F;
// $shadow-md: 0 4px 6px -1px #00000019, 0 2px 4px -1px #0000000F;
// $shadow-lg: 0 10px 15px -3px #00000019, 0 4px 6px -2px #0000000D;
